<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <style>
    #map0d3dade5262d42919a948d61a603b5e2 {
      height:100%;
    }
  </style> 
</head>
<body>
  <div id="map0d3dade5262d42919a948d61a603b5e2"></div>
<script text="text/javascript">
var map = L.map('map0d3dade5262d42919a948d61a603b5e2');
L.tileLayer(
  "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  {maxZoom:19, attribution: '<a href="https://github.com/jwass/mplleaflet">mplleaflet</a> | Map data (c) <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'}).addTo(map);
var gjData = {"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Point", "coordinates": [7.919072, 45.344613]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.230723, 46.727021]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.3881, 45.428299]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [13.74252, 43.22652]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [9.59347, 45.720798]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.1428002, 43.986004]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [9.79806, 46.154202]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [9.01653, 44.952]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [8.76806, 45.8097]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.5431, 45.6992]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.6692, 44.790298]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.8716, 44.835201]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.8317, 44.322399]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [13.0275, 43.826]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.6628, 44.698299]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.149999618530273, 45.08300018310547]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.250389, 46.166549]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.6955555556, 43.5919444444]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.0135, 41.994532]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [13.717942, 41.493566]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.216667, 43.353667]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.7101, 42.9328]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.858067, 43.332147]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [18.25833, 40.10667]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [13.073333, 46.235833]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.814722, 45.611944]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.541664, 44.475]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [7.966389, 45.024444]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.155903, 43.55916]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.847, 43.455897]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [14.178, 41.116001]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.5227778, 43.2844444]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [9.162866, 45.76996]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.0019, 45.1674]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.6134, 44.816002]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [13.2998, 41.6464]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [13.5993, 45.906898]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [13.3092, 42.379902]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [18.297923, 40.35974]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.2922, 45.133202]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.577928, 43.825825]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.8548, 44.398201]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [9.20333, 45.542198]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [8.69912, 45.7132]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.808611, 44.631389]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.701976, 41.503775]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.224978, 44.36391]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.8517, 42.4272]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [12.584444, 42.573333]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [13.1868, 46.0322]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [10.9279, 45.472]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.4965, 45.675701]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [11.5169, 45.886902]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}, {"type": "Feature", "geometry": {"type": "Point", "coordinates": [8.642661, 39.895308]}, "properties": {"html": "<svg width=\"8px\" height=\"8px\" viewBox=\"-4.0 -4.0 8.0 8.0\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\">  <path d=\"M 0.0 -3.0 C 0.7956093000000001 -3.0 1.5587396123545605 -2.683901074764725 2.121320343559643 -2.121320343559643 C 2.683901074764725 -1.5587396123545605 3.0 -0.7956093000000001 3.0 -0.0 C 3.0 0.7956093000000001 2.683901074764725 1.5587396123545605 2.121320343559643 2.121320343559643 C 1.5587396123545605 2.683901074764725 0.7956093000000001 3.0 0.0 3.0 C -0.7956093000000001 3.0 -1.5587396123545605 2.683901074764725 -2.121320343559643 2.121320343559643 C -2.683901074764725 1.5587396123545605 -3.0 0.7956093000000001 -3.0 -0.0 C -3.0 -0.7956093000000001 -2.683901074764725 -1.5587396123545605 -2.121320343559643 -2.121320343559643 C -1.5587396123545605 -2.683901074764725 -0.7956093000000001 -3.0 0.0 -3.0 Z\" stroke=\"#FF0000\" stroke-width=\"1.0\" stroke-opacity=\"1\" fill=\"#FF0000\" fill-opacity=\"1\" /></svg>", "anchor_x": 4.0, "anchor_y": 4.0}}]};

if (gjData.features.length != 0) {
  var gj = L.geoJson(gjData, {
    style: function (feature) {
      return feature.properties;
    },
    pointToLayer: function (feature, latlng) {
      var icon = L.divIcon({'html': feature.properties.html, 
        iconAnchor: [feature.properties.anchor_x, 
                     feature.properties.anchor_y], 
          className: 'empty'});  // What can I do about empty?
      return L.marker(latlng, {icon: icon});
    }
  });
  gj.addTo(map);
  
  map.fitBounds(gj.getBounds());
} else {
  map.setView([0, 0], 1);
}
</script>
</body>