
<div class="footer-row">
  <h3>Informations <i class="fas fa-fighter-jet"></i></h3>

  <div class="footer-column">
    <p>Copyrights <i class="far fa-copyright"></i>2021 AirTraffic by SpatialTeam</p>
    <p>All rights reserved.</p>
  </div>

</div>