<div class="first-header-row">

  <div class="header-div-logo">
    <a href="/AirTraffic-1.00/">
      <img src="/AirTraffic-1.00/media/airTraffic_logo.png" id = "header_logo" alt="airTraffic logo"/>
    </a>
  </div>

  <div class="header-div-title">
    <p class="title">AirTraffic</p>
  </div>

  <div class="header-div-euroControl">
    <a href="https://www.eurocontrol.int/" target="_blank">
      <img src="/AirTraffic-1.00/media/eurocontrol_logo.png" id = "euroControl_logo" alt="euroControl logo"/>
    </a>
  </div>

</div>